main{
    section{
        height: 100vh;
        width: calc(100vw - 40px);
        margin: auto;
        display: table;
        @include breakpoint('medium'){
            width: calc(100vw - 60px);
        }
    }
}