.mp-headerproject{
    height: 100vh;
}
.mp-headerproject__colored-band{
    height: 70vh;
    width: 100vw;
    background: $verdone;
}
.mp-headerproject__wrapper{
    height: 100%;
    color: $white;
}
.mp-headerproject__text{
    height: 50vh;
    padding-top: calc((25vh + 75px) - 87px);
    align-self: flex-end;
    @include breakpoint('large'){
        height: auto;
        padding-top: 0;
    }
}
.mp-headerproject__img-wrapper{
    align-self: flex-end;
    @include breakpoint('large'){
        margin-bottom: -25vh;
    }
}
.mp-headerproject__img{
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include breakpoint('large'){
        width: 50vh;
    }
    &-anno2020{
        background-image: url('../assets/lambrate.jpg');
    }
    &-anno2019{
        background-image: url('../assets/slider2019.jpeg');
    }
    &-anno2018{
        background-image: url('../assets/slider2018.jpg');
    }
    &-anno2017{
        background-image: url('../assets/slider2017.jpg');
    }
}