.mp-headerhome__bg{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/SchoolOfAthens.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:before{
        content: '';
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: $black;
        opacity: .2;
    }
}