.mp-footer{
    background: $black;
    position: relative;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    color: $white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    @include breakpoint('medium'){
        padding: 0 60px;
    }
    @include breakpoint('xlarge'){
        padding: 0 120px;
    }
}
.mp-footer__contact{
    margin-top: 10vh;
    margin-left: 30px;
    @include breakpoint('medium'){
        margin-left: 0;
    }
}
.mp-footer__copyright{
    @include font(10px, false, 400, 1.3);
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    text-align: center;
    @include breakpoint('medium'){
        @include font(15px, false, 400, 1.3);
        width: calc(100% - 60px);
    }
    @include breakpoint('large'){
        width: calc(100% - 120px);
    }
}