.mp-slider{
    height: 100vh;
    width: 100vw;
    @include breakpoint('large'){
        padding-left: 60px;
    }
    &.row{
        margin: 0;
    }
}
.mp-slider__img{
    display: flex;
    align-items: center;
    height: 45vh;
    width: 100%;
    padding: 75px 0 20px 0;
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint('medium'){
        padding: 81px 0 30px 0;
    }
    @include breakpoint('large'){
        height: 100vh;
        padding: 0;
    }
}
.mp-slider__img0{
    background-position: center;
    background-image: url('../assets/slider2019.jpeg');
    @include breakpoint('large'){
        background-position: -240px center;
    }
}
.mp-slider__img1{
    background-position: center;
    background-image: url('../assets/slider2018.jpg')
}
.mp-slider__img2{
    background-position: center;
    background-image: url('../assets/slider2017.jpg')
}
.mp-slider__text{
    display: flex;
    align-items: center;
    height: 55vh;
    width: 100%;
    position: relative;
    @include breakpoint('large'){
        height: 100vh;
    }
    .mp-textproject{
        padding: 20px 60px 20px 20px;
        @include breakpoint('medium'){
            padding: 0 30px;
        }
        @include breakpoint('large'){
            padding: 0 120px 0 0;
        }
    }
}
.swiper-wrapper{
    width: 100vw;
}
.swiper-button-prev{
    height: 55vh;
    background: none;
    margin-top: 0;
    top: unset;
    bottom: 0;
    left: 0;
    @include breakpoint('large'){
        height: 100vh;
        width: 60px;
        top: 0;
        bottom: unset;
    }
}
.swiper-button-next{
    height: 55vh;
    width: 30px;
    background: #D9DADB;
    margin-top: 0;
    top: unset;
    bottom: 0;
    right: 0;
    @include breakpoint('large'){
        height: 100vh;
        width: 60px;
        top: 0;
        bottom: unset;
    }
}
.swiper-pagination.swiper-pagination-bullets{
    left: unset;
    right: 0;
    text-align: right;
    padding-right: 60px;
    @include breakpoint('large'){
        padding-right: 120px;
    }
}
span.swiper-pagination-bullet{
    height: 20px;
    width: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 2px 2px 2px #ffffff, -2px -2px 2px #d6d6d6;
    opacity: 1;
    &-active{
        box-shadow: 1px 1px 1px #d6d6d6, -1px -1px 1px #ffffff;
    }
    @include breakpoint('large'){
        height: 30px;
        width: 30px;
    }
    @include breakpoint('xlarge'){
        height: 40px;
        width: 40px;
    }
}
