.mp-partners{
    height: 100vh;
    width: 100vw;
    background: $black;
    box-sizing: border-box;
    padding: 85px 20px 20px 50px;
    @include breakpoint('medium'){
        padding: 80px 60px 30px 60px;
    }
    @include breakpoint('xlarge'){
        padding: 100px 120px 60px;
    }
}
.mp-partners__wrapper-text{
    color: $white;
}
.wd-partners__wrapper-logos{
    height: 70%;
    align-items: center;
    justify-content: left;
    @include breakpoint('large'){
        height: 100%;
    }
}
.mp-partners__logo-box{
    width: 100%;
    height: calc(100%/5);
    max-height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    @include breakpoint('medium'){
        max-height: 100px;
    }
    @include breakpoint('large'){
        width: 100%;
        height: calc(100%/3);
        justify-content: center;
    }
}
.mp-partners__logo-img{
    width: calc(100% - 45px);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    @include breakpoint('medium'){
        height: 40%;
        width: 100%;
    }
    @include breakpoint('large'){
        background-position: center;
    }
    &--tonki{
        background-image: url('../assets/loghi/tonki.png');
    }
    &--ugo{
        background-image: url('../assets/loghi/ugo.png');
    }
    &--tipografia_snicolo{
        background-image: url('../assets/loghi/tipografia_snicolo.png');
    }
    &--printi{
        background-image: url('../assets/loghi/printi.png');
    }
    &--formidabile_lambrate{
        background-image: url('../assets/loghi/formidabile_lambrate.png');
    }
    &--vivafm{
        background-image: url('../assets/loghi/vivafm.png');
    }
}
