.mp-sliderproject{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
    background: $white;
    .swiper-container{
        height: 50vh;
        padding: 20px;
		@include breakpoint('medium'){
			height: 40vh;
		}
        @include breakpoint('large'){
            padding: 20px 60px;
        }
        @include breakpoint('xlarge'){
			height: 40vh;
            padding: 20px 120px;
        }
    }
    .swiper-slide{
		transition: all .2s ease-in-out;
		&:hover{
			transform: scale(1.1);
		}
    }
}
.mp-sliderproject__wrapper-text{
	height: 50vh;
	padding: 80px 20px 0 50px;
	@include breakpoint('medium'){
		padding: 100px 60px 0;
		height: 50vh;
	}
	@include breakpoint('large'){
        padding: 100px 60px 0 0;
	}
	@include breakpoint('xlarge'){
		padding: 100px 120px 0 0;
	}
}
.mp-sliderproject__img{
	background-size: contain;
	background-repeat: no-repeat;
	//Type&Wine
	&__type-and-wine_00{
		background-image: url('../assets/type_and_wine/type_and_wine_00.jpg');
	}
	&__type-and-wine_01{
		background-image: url('../assets/type_and_wine/type_and_wine_01.jpg');
	}
	&__type-and-wine_02{
		background-image: url('../assets/type_and_wine/type_and_wine_02.jpg');
	}
	&__type-and-wine_03{
		background-image: url('../assets/type_and_wine/type_and_wine_03.jpg');
	}
	&__type-and-wine_04{
		background-image: url('../assets/type_and_wine/type_and_wine_04.jpg');
	}
	&__type-and-wine_05{
		background-image: url('../assets/type_and_wine/type_and_wine_05.jpg');
	}
	&__type-and-wine_06{
		background-image: url('../assets/type_and_wine/type_and_wine_06.jpg');
	}
	&__type-and-wine_07{
		background-image: url('../assets/type_and_wine/type_and_wine_07.jpg');
	}
	&__type-and-wine_08{
		background-image: url('../assets/type_and_wine/type_and_wine_08.jpg');
	}
	&__type-and-wine_09{
		background-image: url('../assets/type_and_wine/type_and_wine_09.jpg');
	}
	&__type-and-wine_10{
		background-image: url('../assets/type_and_wine/type_and_wine_10.jpg');
	}
	&__type-and-wine_11{
		background-image: url('../assets/type_and_wine/type_and_wine_11.jpg');
	}
	&__type-and-wine_12{
		background-image: url('../assets/type_and_wine/type_and_wine_12.jpg');
	}
	&__type-and-wine_13{
		background-image: url('../assets/type_and_wine/type_and_wine_12.jpg');
	}
	//Andrea in the retail world
	&__andrea_01{
		background-image: url('../assets/andrea/andrea_01.jpg');
	}
	&__andrea_02{
		background-image: url('../assets/andrea/andrea_02.jpg');
	}
	&__andrea_03{
		background-image: url('../assets/andrea/andrea_03.jpg');
	}
}
