.mp-textproject{
    padding: 0 20px;
    @include breakpoint('medium'){
        padding: 0 30px;
    }
    @include breakpoint('large'){
        padding: 0 60px 0 120px;
    }
}
.mp-textproject__header{
    margin-bottom: 15px;
    @include breakpoint('medium'){
        margin-bottom: 50px;
    }
    p{
        margin-bottom: 5px;
        @include breakpoint('medium'){
            margin-bottom: 10px;
        }
    }
}
.mp-textproject__body{
    p{
        margin-bottom: 10px;
        @include breakpoint('medium'){
            margin-bottom: 15px;
        }
    }
    .mp-buttoncta__text{
        margin-bottom: 0;
    }
}